.hero {
  height: 100vh;
  width: 100vw;
  background-color: var(--dark);
  position: relative;

  &__bg {
    display: flex;
  }

  &__grey {
    position: absolute;
    top: 50%;
    left: 20%;
    background: linear-gradient(to bottom right, white, transparent);
    width: 40rem;
    transform: translateY(-50%);
    padding: 5rem;

    & h1 {
      color: var(--ter);
    }

    & sub {
      color: var(--sec);
      font-weight: 600;
    }

    & p {
      padding-top: 3rem;
      margin-bottom: 4rem;
    }
  }

  &__grey &:nth-child(odd) {
    left: 80%;
  }
}
