:root {
  // colours
  --pri: #419cd5;
  --sec: #084480;
  --ter: #d01010;
  --light: #edf4f8;
  --dark: #282d33;

  //fonts
  --f1: 'Poppins', sans-serif;
}

//mixins

// animations
@keyframes Popup {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// breakpoints

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 30em) {
      @content; //320px - 480px
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 48em) {
      @content; //768px - 1024px
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 64em) {
      @content; //768px - 1024px
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 90em) {
      @content; //1224px
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (max-width: 114em) {
      @content; //1824px
    }
  }
}
