.header {
  height: 7.5rem;
  width: 100vw;
  // background: linear-gradient(to top, transparent, black);
  position: absolute;
  top: 3.5rem;
  left: 0;
  display: flex;
  align-items: center;
  background-color: yellow;
  padding: 0 2rem;

  &__logo {
    height: 7rem;
    flex: 1;
    background-color: red;
  }

  &__list {
    flex: 2;
    background-color: blue;
    color: var(--light);
    display: flex;
    list-style: none;
    justify-content: center;

    &--item {
      padding: 1rem 2rem;
    }
  }

  &__icons {
    flex: 1;
    background-color: green;
    width: 30rem;
    height: 5rem;
  }
}
