.header {
  height: 6.5rem;
  width: 100vw;
  background: linear-gradient(to top, transparent, black);
  position: absolute;
  top: 2.7rem;
  left: 0;
  display: flex;
  align-items: center;
  transition: height 0.2s;
  z-index: 999;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-container {
    flex: 1;
  }
  &__logo {
    width: 10rem;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    transition: all 0.2s;
    fill: var(--light);
  }

  &__list {
    color: var(--light);
    display: flex;
    list-style: none;
    justify-content: center;
    flex: 2;
    font-weight: 600;

    &--item {
      padding: 1rem 2rem;
    }
  }

  &__listscrolled {
    color: var(--dark);
    display: flex;
    list-style: none;
    justify-content: center;
    flex: 2;
    font-weight: 600;

    &--item {
      padding: 1rem 2rem;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}

.scrolled {
  height: 4rem;
  width: 100vw;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: height 0.2s;
  background-color: var(--light);
}

.scrolled-logo {
  width: 8rem;
  display: flex;
  justify-content: flex-start;
  transition: all 0.2s;
  fill: var(--dark);
}
